
.quiz-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: space-evenly;
  border-radius: 15px 15px 0 0;
  margin: auto;
  font-family: Nunito, sans-serif;
  padding: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
}

.quiz-question {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #333;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.options-container {
  width: 100%; 
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.option-label {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  width: 100%; 
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box; 
}

.option-label:hover {
  background-color: #e0e0e0;
}

.option-label input {
  margin-right: 10px;
}

.next-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  width: 380px;
  height: 60px;
  background: #FF3B3F;
  color: #fff;
  font-family: Nunito, sans-serif;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.1s linear;
  position: relative;
}

.next span {
  position: absolute;  
  left: 50%;
  transform: translateX(-50%);
}

.arrow {
  margin-left: auto;    
  font-size: 24px;     
}
  .next:active {
    transform: scale(0.95);
  }
  
  .arrow{
    margin-left: auto;
  }

.quiz-container::before {
  content: "";
  position: relative;
  top: -15px;
  padding: 1rem;
  width: 400px;
  height: 50px;
  background: linear-gradient(
    135deg,
    #0033cc, 
    #3399ff, 
    #66ccff, 
    #99ccff, 
    #cce0ff 
  );

  border-radius: 15px 15px 0 0;
}

.option-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.option-label input[type="checkbox"] {
  display: none;
}

.custom-radio {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
  transition: background-color 0.2s ease;
}

.custom-radio.selected {
  background-color: #4caf50;
  border-color: #4caf50;
  position: relative;
}

.custom-radio.selected::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.option-label span {
  font-size: 16px;
}

.option-label input[type="checkbox"] + .custom-radio {
  vertical-align: middle;
}


.timer{
 padding: 10px 20px;
 border: 2px solid #007bff;
 border-radius: 10px;
}

.timer p{
  margin: 0;
  font-size: 14px;
  font-family: poppins, sans-serif;
  font-weight: 800;
  color: #333;
}